/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

.logo img {
    height: 5rem;
    border-radius: 90px;
}



/* Carrusel */
.swiper-container {
    width: 100%;
    height: 500px;
    position: relative;
}

.swiper-slide {
    position: relative;
    text-align: center;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-caption {
    position: absolute;
    bottom: 20%;
    left: 0;
    right: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
}

/* Cards de propiedades */
.card {
    margin-bottom: 20px;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.03);
}

/* Estilos para el formulario */
#contacto {
    background-color: #f8f9fa;
    padding: 2rem;
    border-radius: 10px;
}

#contacto h2 {
    color: #333;
    font-weight: 700;
}

.form-control, .form-select {
    border: 1px solid #ced4da;
    border-radius: 8px;
    padding: 10px;
}

.btn-primary {
    background-color: #0d6efd;
    border: none;
    padding: 12px;
    font-weight: 600;
}

/* Validación */
.was-validated .form-control:invalid,
.was-validated .form-select:invalid {
    border-color: #dc3545;
}

.was-validated .form-control:valid,
.was-validated .form-select:valid {
    border-color: #198754;
}

.location iframe {
    width: 100%;
    height: 300px; /* Altura ajustada para móviles */
    border: none;
    border-radius: 10px;
}

iframe {
    height: 450px;
    width: 100%;
    border: none;
    border-radius: 10px;
}



/* Responsivo */
@media (max-width: 768px) {
    #contacto {
        padding: 1rem;
    }

    .logo img {
        height: 5rem;
    }
}

/* Responsive */
@media (max-width: 768px) {
    .swiper-container {
        height: 300px;
    }

    .logo img {
        height: 5rem;
    }
}